<div>

  {{#with this.bowlParams}}

    <h1>Pecera {{name}}</h1>

    <p>Capacidad: {{capacity}}</p>
    <p>Tipo de agua: {{water}}</p>
    <p>Tapa? {{isClosed}}</p>
    <p>Creador: {{owner.username}}</p>

    <a href="/bowl/{{_id}}/edit"><button>Editar pecera</button></a>
    <br />

  {{/with}}

  <form action="/bowl/{{this.bowlParams._id}}/delete" method="post">
    <button>Eliminar pecera</button>
  </form>

<br>
<a href="/myfish/{{bowlParams._id}}/create"><button>Añade nuevo pez</button></a>

</div>