<div>

  <h3>Pagina de perfil principal</h3>

  <div>    
    <img src="{{userParams.image}}" alt="Imagen de Perfil" width="200px">
    <form action="/profile/main" method="post" enctype="multipart/form-data">
      <label for="image">Imagen de perfil</label>
      <input type="file" name="image">
      <br>
      <button type="button" class="btn btn-outline-info btn-sm" >Subir imagen</button>
    </form>
    <p>Nombre de usuario: {{userParams.username}}</p>
    <p>Correo electrónico: {{userParams.email}}</p>
    <form action="/profile/main" method="post">
      <label for="favFish">Pez Favorito: {{userParams.favFish.name}}</label>
      <select id="pez-favorito" name="favFish">
        {{#each fishName}}
          <option value="{{this._id}}">{{name}}</option>
        {{/each}}
      </select>
      <button>Guardar</button>
    </form>
    <br />
    <a href="/profile/edit">
      <button>Editar Cuenta</button>
    </a>
  </div>

  <div>
    <p>Lista de peces deseados:
      {{#each userParams.wantedFish}}
        |
        {{name}}
        |
      {{/each}}
    </p>
    <a href="/search/catalog">
      <button>Añadir Pez a mi lista</button>
    </a>
    <br />
    <a href="/bowl/{{userParams._id}}/main"><button>Ver mis peceras</button></a>
  </div>

</div>