<div>

    <h3>Pagina de perfil principal</h3>

    <div>
        <p>Nombre de usuario: {{userParams.username}}</p>
        <p>Correo electrónico: {{userParams.email}}</p>
         <label for="pez-favorito">Pez Favorito:</label>
        <select id="pez-favorito" name="pez-favorito">
            {{#each fishName}}
            <option value="{{name}}">{{name}}</option>
            {{/each}}
        </select>
        <br>
        <a href="/profile/edit">
        <button>Editar Cuenta</button>
        </a>
    </div>

    <div>
        <p>Lista de peces deseados: {{fishName.name}}</p>
        <a href="/search/catalog">
        <button>Añadir Pez a mi lista</button>
        </a>
    </div>

</div>