<div>
    <h3>Detalles del pez</h3>
    {{#with fishParams}}
    <img src="{{url}}" alt="pez" width="400px">
    <h3>Nombre: {{name}}</h3>
    <h4>Tipo de Agua: {{type}}</h4>
    <h4>Esperanza de vida: {{lifeExp}}</h4>
    <h4>Agresividad: {{aggr}}</h4>
    <p>Descripción: {{description}}</p>
     {{/with}}
     {{#if this.isUserOnline}}
     <form action="/profile/{{fishParams._id}}/main" method="post">
        <button>Añadir a mi lista</button>
     </form>
     {{#if deleteButton}}
     <form action="/profile/{{fishParams._id}}/delete" method="post">
      <button>Eliminar de la lista</button>
     </form>
   {{/if}}
     {{/if}}
</div>